.card-body
     
        { background-color: $card-bod_color;

         .card-title 
        {
        color: $card-title_color;
        }
    
        .card-text 
        {

        color: $card-text_color;

        }
        }
        .cart {
                box-sizing: border-box;
              }
              